body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

ul, ol {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* common */
  
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-padding {
    margin-top: 60px;
    margin-bottom: 60px;
}

.accent-color {
    color: #4d5ae5;
}

/* header */
  
.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}
  
.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
}
  
.header-nav {
    display: flex;
    align-items: center;
}
  
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
  
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
  
.header-logo .logo-part {
    color: #2e2f42;
}
  
.footer-logo .logo-part {
    color: #f4f4fd;
}
  
.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;  
    border-radius: 2px;
}

.current {
    position: relative;
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}
  
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
  
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    position: relative;
    color: #404bbf;
}

/* end header */

/* first section */

.main-btn {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
        url('../images/office.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
}

.main-section .title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    color: #fff;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
}

/* end of first section */

/* second section */

.portfolio-info {
    padding: 120px 0;
}

.visually-hidden {
    max-width: 496px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-padding {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-lists {
    display: flex;
    align-items: center;
    gap: 24px;
}

.portfolio-list {
    width: calc((100% - 72px) / 4);
}

.portfolio-list:hover {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
}

.portfolio-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

/* end of second section */

/* third section */

.team-info {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-info .team-info-blocks .info-block {
    background: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-padding {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-info-blocks {
    display: flex;
    align-items: center;
    gap: 24px;
}

.info-block {
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
}

.people-info {
    padding: 32px 0;
}

.lists-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.lists-icon .list-icon {
    width: 40px;
    height: 40px;  
}

.lists-icon .social-iconbg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.lists-icon .social-iconbg:hover {
    background-color: #404bbf;
}

.lists-icon .social-iconbg:focus {
    background-color: #404bbf;
}

.lists-icon .social-icon {
    fill: #f4f4fd;
}

.lists-icon .social-icon:hover {
    background-color: #03a9f4;
}

/* end of third section */

/* fourth section */

.apps-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.apps-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.apps-padding {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.apps-info-blocks {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.app-info-block {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-info-block:hover .apps-info-p {
    transform: translateY(0%);
}

.app-info-icon {
    position: relative;
    overflow: hidden;
}

.apps-info-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-info {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app-speciality {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* end of fourth section */

/* footer */

.foot {
    background: #2e2f42;
    padding: 100px 0 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-p {
    margin-right: 120px;
}

.f-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.f-links {
    display: flex;
    gap: 16px; 
}

.f-link {
    width: 40px;
    height: 40px;
}

.f-link-p {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-link-p:hover,
.f-link-p:focus {
    background-color: #31d0aa;
}

.f-link-icon {
    fill: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 117%;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.text-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.form-container {
    margin-left: 80px;
}

.form-container-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-container-form {
    display: flex;
    gap: 24px;
}

.form-container-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2; 
    letter-spacing: 0.04em;
    padding-left: 16px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff; 
}

.form-container-input::placeholder {
    color: #ffffff; 
}

.form-container-btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.form-container-btn-icon {
    margin-left: 16px;
}

/* end of footer */

/* modal-window */

.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    max-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf; 
    border: none;
    fill: #ffffff
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-comment {
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    margin-top: 8px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-btn {
    text-align: center;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.reviw-form-policy-link {
    text-decoration: underline;
}

.review-form-checkbox:checked 
+ .review-form-checkbox-label 
> .review-form-custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-sumbit-btn {
    display: block;
    min-width: 169px;
    margin-left: 96px;
    border: none;
    padding: 16px 32px;
    height: 56px;
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* end of modal-window */

/* media-requests */


@media (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 320px;
    }

    .nav-list {
        display: none;
    }

    .contacts {
        display: none;
    }

    .header-logo {
        padding: 0;
    }

    .burger-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .burger-icon {
        display: block;
        fill: #2f2f37;
    }

    .header-container {
        width: 320px;
        height: 56px;
    }

    .header-nav {
        position: absolute;
        left: 16px;
        height: 56px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .mobile-menu-close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        line-height: 0;
        stroke: #2e2f42;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-nav-lists {
        margin-bottom: 168px;
    }

    .mobile-nav-list {
        margin-bottom: 40px;
    }

    .mobile-nav-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .mobile-nav-link:hover,
    .mobile-nav-link:focus {
        color: #404bbf;
    }

    .mobile-menu-address {
        font-style: normal;
        margin-left: auto;
    }

    .mobile-contacts-link {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-contacts-link:hover,
    .mobile-contacts-link:focus {
        color: #4d5ae5;
    }

    .mobile-social-links {
        display: flex;
        gap: 40px; 
        padding-top: 24px;
    }
    
    .mobile-social-link {
        width: 40px;
        height: 40px;
    }
    
    .mobile-link-p {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-link-p:hover,
    .mobile-link-p:focus {
        background-color: #31d0aa;
    }
    
    .mobile-link-icon {
        fill: #f4f4fd;
    }    

    .main-section {
        padding-top: 72px;
        padding-bottom: 72px;
        max-width: 100%;
    }

    .main-section .title-text {
        margin-bottom: 72px;
    }

    .portfolio-lists {
        gap: 0px;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .portfolio-list {
        width: 288px;
        height: 120px;
    }

    .portfolio-list-icon {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .portfolio-info {
        margin: 0;
        padding: 96px, 0px;
    }

    .portfolio-title {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }

    .team-info {
        margin: 0;
        padding: 0, 96px, 0, 96px;
    }
    
    .team-info-blocks {
        gap: 0px;
        flex-wrap: wrap;
        row-gap: 48px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .apps-info {
        padding-top: 96px;
        padding-bottom: 96px;
        margin: 0;
    }

    .app-info-block {
        width: 288px;
    }

    .app-info-icon {
        height: 280px;
    }

    .foot {
        padding: 90px 0 90px;
    }

    .footer-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .logo-p {
        margin: 0;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .text-info {
        width: 288px;
    }

    .f-social-links {
        margin-left: auto;
        margin-right: auto;
    }

    .f-social-p {
        text-align: center;
    }

    .form-container {
        margin: 0;
    }

    .form-container-paragraph {
        text-align: center;
    }

    .form-container-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .form-container-label {
        margin-left: auto;
        margin-right: auto;
    }

    .form-container-form {
        align-items: center;
        flex-wrap: wrap;
        row-gap: 16px;
    }

    .modal {
        width: 288px;
        top: 8px;
        left: 16px;
    }

    .modal-backdrop {
        max-width: 320px;
    }

    .review-form-sumbit-btn {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 768px) and (max-width: 1157px) {
    .mobile-menu {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container {
        max-width: 768px;
    }

    .header-container {
        max-width: 1157px;
        height: 72px;
    }

    .burger-btn {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .nav-list {
        visibility: visible;
    }

    .header-container {
        margin: 0;
    }

    .header-logo {
        margin: 0;
        margin-right: 120px;
    }

    .nav-list {
        width: 100%;
        height: 100%;
    }

    .contacts {
        visibility: visible;
        width: 100%;
        height: 100%;
    }

    .contacts-list {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
        justify-content: right;
    }

    .contacts-link {
        padding: 0;
        font-size: 12px;
        height: 14px;
    }

    .main-section {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 100%;
    }

    .container {
        width: 768px;
    }

    .main-section .title-text {
        margin-bottom: 36px;
    }

    .portfolio-title {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }

    .portfolio-list-icon {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .portfolio-list {
        width: 356px;
    }

    .portfolio-lists {
        gap: 24px;
        flex-wrap: wrap;
        row-gap: 72px;
        padding: 0;
    }

    .portfolio-info {
        padding-top: 86px;
        padding-bottom: 106px;
    }

    .team-info-blocks {
        flex-wrap: wrap;
        row-gap: 64px;
        padding-right: 93px;
        padding-left: 93px;
        gap: 24px;
        row-gap: 64px;
    }

    .app-info-block {
        width: 356px;
        row-gap: 72px;
    }

    .footer-container {
        padding-left: 108px;
        padding-right: 164px;
    }

    .foot {
        padding: 0;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .logo-p {
        margin-right: 24px;
        width: 264px;
        row-gap: 72px;
    }

    .footer-logo {
        justify-content: left;
    }

    .f-social-p {
        text-align: left;
    }

    .footer-container {
        flex-wrap: wrap;
        row-gap: 72px;
    } 

    .form-container-paragraph {
        text-align: left;
    }

    .form-container {
        margin: 0;
    }

    .modal {
        width: 408px;
        top: 96px;
        left: 180px;
    }

    .review-form-sumbit-btn {
        padding-bottom: 24px;
    }
}

@media (min-width: 1158px) {
    .mobile-menu {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .burger-btn {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container {
        min-width: 1158px;
    }

    .header-container {
        min-width: 100%;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        padding-left: 332px;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
    }

    .contacts-link {
        font-weight: 400;
        font-size: 16px;
        width: 151px;
        padding-top: 0;
    }

    .contacts-item {
        height: 24px;
    }

    .main-section {
        min-width: 100%;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-section .title-text {
        margin-bottom: 48px;
    }

    .portfolio-info {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-title {
        font-weight: 500;
        font-size: 20px;
    }

    .portfolio-list-icon {
        visibility: visible;
        width: 100%;
        height: 112px;
    }

    .portfolio-list {
        width: 264px;
        height: 224px;
    }

    .team-info-blocks {
        padding-left: 0;
        padding-right: 0;
    }

    .apps-info {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .logo-p {
        margin: 0;
    }

    .f-social-links {
        margin-left: 80px;
        margin-right: 80px;
    }

    .footer-container {
        padding-right: 30px;
        padding-left: 30px;
        flex-wrap: nowrap;
    }

    .form-container-form {
        flex-wrap: nowrap;
    }

    .form-container-label {
        margin-left: 0;
        margin-right: 14px;
    }

    .form-container-btn {
        margin: 0;
    }

    .modal {
        top: 80px;
        left: 375px;
    }
}